<%- include("../partials/header") %> 
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Location</th>
          <th>Par</th>
          <th>Yardage</th>
          <th>Slope Rating</th>
          <th>Holes</th>
        </tr>
      </thead>
      <tbody>
        <tr>
        <td><%= course.name %></td>
        <td><%= course.location %></td>
        <td><%= course.par %></td>
        <td><%= course.yardage %></td>
        <td><%= course.slope %></td>
        <td><%= course.numHoles %></td>
        <td><a href="<%= course._id %>/edit">Edit Details</a></td>
        <td><form action="/courses/<%= course._id %>?_method=DELETE" method="POST">
          <button type="submit">Remove</button>
      </tr>
      </tbody>
    </table>


<%- include("../partials/footer") %> 