
<%- include('../partials/header') %>

<h3>My Rounds</h3>

<% if (user.rounds.length) { %>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Course</th>
                <th>Score</th>
                <th>To Par</th>
            </tr>
        </thead>
        <tbody>
            <% user.rounds.forEach(function(r) { %>
                <td> <%= r.dateOfPlay %> </td>
                <td> <%= r.course %> </td>
                <td> <%= r.score %> </td>
                <td> <%= (r.score - 72)</td>
            <% }); %>
        </tbody>
    </table>
<% } else { %>
    <h5>No Rounds to Display</h5>
<% } %>
    <!-- link to add new round -->

<%- include('../partials/footer') %>


