<%- include("../partials/header") %> 
<% if (rounds.length) { %>
  <div class="tablewrapper">
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Course</th>
        <th>Score</th>
        <th>To Par</th>
      </tr>
    </thead>
    <tbody>
      <% rounds.forEach(function(r) { %>
      <tr>
      <td><%= new Date(r.dateOfPlay).toLocaleString() %></td>
      <td><%= r.course.name %></td>
      <td><%= r.score %></td>
      <td><%= (r.score - r.course.par) %></td>
      <td><a href="/rounds/<%= r._id %>">Details</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>
  <% } else { %>
  <h3>No Rounds to Display</h3>
  <a href="/rounds/new">Add Rounds</a>
  <% } %> 
  <%- include("../partials/footer") %> 